<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset your password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input
      formControlName="password"
      type="password"
      required
    ></ion-input>
  </ion-item>

  <div class="validation-errors">
    <ng-container
      *ngFor="let validation of validation_messages.password"
    >
      <div
        class="error-message"
        *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)"
      >
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input
      formControlName="cpassword"
      type="password"
      required
    ></ion-input>
  </ion-item>

  <div class="validation-errors">
    <ng-container
      *ngFor="let validation of validation_messages.cpassword"
    >
      <div
        class="error-message"
        *ngIf="registerForm.get('cpassword').hasError(validation.type) && (registerForm.get('cpassword').dirty || registerForm.get('cpassword').touched)"
      >
        {{ validation.message }}
      </div>
    </ng-container>
    <div
      class="error-message"
      *ngIf="!registerForm.get('cpassword').errors && registerForm.hasError('passwordNotMatch') && (registerForm.get('cpassword').dirty || registerForm.get('cpassword').touched)"
    >
      Password and Confirm Password do not match!
    </div>
  </div>
  
</form>
<ion-button
        expand="full"
        color="primary"
        [disabled]="!registerForm.valid"
        (click)="resetPassword()"
        >Reset Password</ion-button
      >
      <!-- <div class="validation-errors">
       
        <div
          class="error-message"
          *ngIf="loginError"
        >
          {{ loginErrorMessage }}
        </div>
   
    </div> -->
</ion-content>
