.error-message{
    color: var(--ion-color-danger);
}

.signupLabel{
    font-size: 1.6em;
    font-weight: bold;
    // color: var(--ion-color-secondary);
}

.positionCard{
    position: relative;
    border-radius: 15px;
  
  top: 7%;
}