<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Choices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="registerCard positionCard">
    <ion-card-header class="ion-text-center" style="background-color: var(--ion-color-primary);"> <ion-label class="signupLabel">Reset Password</ion-label></ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <form [formGroup]="registerForm">
          <ion-item>
            <ion-label position="floating">Enter Email</ion-label>
            <ion-input formControlName="email" type="text" required></ion-input>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div
                class="error-message"
                *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

        </form>
      </ion-list>
      <ion-button
        expand="full"
        color="primary"
        [disabled]="!registerForm.valid"
        (click)="reset()"
        >Send</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card class="positionCard">
    <ion-card-content class="ion-text-center">
      <h2>Don't have an account? <ion-button routerLink="../register">Sign Up</ion-button></h2>
      <h2>Already have an account? <ion-button routerLink="../login">Login</ion-button></h2>

    </ion-card-content>
  </ion-card>

</ion-content>
