.allMsg{
    // background: none;
    height: 20px;
    margin: 5px 3px 5px 0px;
    // padding: 3px;
    // font-size: 10px;
}

.myMsg{
    width: 70%;
    float: right;
    background: var(--ion-color-secondary);
}

.otherMsg{
    width: 70%;
    float: left;
    background: var(--ion-color-tertiary);
}