.allMsg{
    // background: none;
    height: 20px;
    margin: 5px 3px 5px 3px;
    // padding: 3px;
    // font-size: 10px;
}

.mainMsg{
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 3px;
}

.myMsg{
    width: 70%;
    float: right;
    background: var(--ion-color-secondary);
}

.otherMsg{
    width: 70%;
    float: left;
    background: var(--ion-color-tertiary);
}

.time{
    font-size: small;
}

// b{
//     float: center;
// }

.message-input{
    width: 100%;
    border: 1px solid var(--ion-color-secondary);
    border-radius: 10px;
    // background: #fff;
    padding: 0px 10px;
}

.msg-btn{

}

.is-success{
    background-color: var(--ion-color-success);
}

.is-warning{
    background-color: var(--ion-color-warning);
}

.is-danger{
    background-color: var(--ion-color-danger);
}

.onOff{
    text-align: center;
    float:right;
    width: 30%;
}