.is-success{
    background-color: var(--ion-color-success);
}

.is-warning{
    background-color: var(--ion-color-warning);
}

.is-danger{
    background-color: var(--ion-color-danger);
}

.onOff{
    text-align: center;
    float:right;
    width: 30%;
}

.userCard{
    display: flex;
    
}