<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot= start>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteImpulse()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ impulse.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input type="text" disabled="true" [(ngModel)]="impulse.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Rating</ion-label>
        <ion-input type="number" disabled="true" [(ngModel)]="impulse.rating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea autoGrow="true" disabled="true" placeholder="Enter description here..." [(ngModel)]="impulse.detail"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date Created/Modified</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm a" [(ngModel)]="impulse.date" readonly="true" class="ion-no-padding"></ion-datetime>
      </ion-item>
     <!-- <div class="ion-text-center">
      <ion-button [disabled]="impulse.title==''" (click)="updateImpulse()" class="ion-padding">
        <ion-icon name="create"></ion-icon>
        UPDATE
      </ion-button>
     </div> -->
        
     
    </ion-card-content>
  </ion-card>
  
</ion-content> 
