<ion-header>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      
      <ion-input type="text" placeholder="First Name" [(ngModel)]="account.fName"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      
      <ion-input type="text" placeholder="Last Name" [(ngModel)]="account.lName"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>Change Email</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>Change Password</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="updateAccount()" [disabled]="account.fName=='' || account.lName==''">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
