<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>displayPhoto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainDiv">
    <!-- <ion-grid>
      <ion-row>
      <ion-col size="6" >
        <ion-img src="{{ photoService.photo.base64 ? photoService.photo.base64 : photoService.photo.webviewPath }}"></ion-img>
      </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-img style="height:200px; width:200px" [src]="downloadURL"></ion-img>
    <!-- <ion-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera" slot="icon-only"></ion-icon>
    </ion-button> -->
    
    <!-- <ion-label for="fileInput" icon-only ion-button id="tempFileInput">
      <ion-icon name="image"></ion-icon>
    </ion-label> -->
    <!-- <div class="fileUpload"> -->
      <!-- <ion-button color="secondary">
        <ion-icon name="image"></ion-icon>
      </ion-button> -->
      <ion-input type="file" (change)="photoChanged($event)"></ion-input>
  <!-- </div> -->
    <ion-button expand="block" (click)="savePhoto()" color="tertiary">Upload</ion-button>
  </div>

  
  
  
</ion-content>
