<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Journal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Journal</ion-title>
    </ion-toolbar>
  </ion-header> -->
  
  <ion-card *ngFor="let journal of (journals|async)" [routerLink]="['./journal-detail/', journal.id]">
    <ion-card-content>
    
       
          <ion-row>
            <ion-col class="ion-text-left">
              <h2 style="padding: 0"><strong>{{ journal.title }}</strong></h2>
              
            </ion-col>
            <ion-col class="ion-text-right" style="padding: 0">
              <ion-button fill="clear" (click)="deleteJournal(journal.id)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0 0 0 20px">
              <!-- <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="journal.date" class="ion-no-padding"></ion-datetime> -->
              <!-- <h5 style="padding: 0">{{ journal.date }}</h5> -->
              <h5 style="padding: 0">{{ journal.detail }}</h5>
            </ion-col>
          </ion-row>
   
     
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="./journalAdd">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
