.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ion-avatar{
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

section{
    margin-top: 20px;
}

.email{
    font-size: 18px;
    font-weight: 100;
    // margin-top: 10px;

}


