<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="deleteJournal()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>{{ journal.fName }} {{ journal.lName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
  <section class="mainSec">
    <div class="mainDiv" *ngIf="(userDetail|async) as user">
      <ion-avatar class="avatar">
        <ion-img [src]="user.photoURL"></ion-img>
      </ion-avatar>
      <ion-label class="email">Name: {{ journal.fName }} {{ journal.lName }}</ion-label>
      <ion-label class="email">Phone Number: {{ journal.mobileNumber }}</ion-label>
      <ion-label class="email">Email: {{ user.email }}</ion-label>
      
    </div>
  </section>
  <section class="contentSec" *ngIf="(userDetail|async) as user">
    <div class="contentDiv">
      <ion-button expand="block" color="secondary" [routerLink]="['./tab1/', user.uid]">Journals</ion-button>
      <ion-button expand="block" color="secondary" [routerLink]="['./tab2/', user.uid]">Impulses</ion-button>
      <ion-button expand="block" color="secondary" [routerLink]="['./tab3/', user.uid]">Calendar</ion-button>
    </div>
    <!-- <div class="subcontentDiv">
      <ion-button expand="block" color="secondary" [routerLink]="['./tab1/', user.uid]">Pair</ion-button>
    </div> -->
  </section>

  <section class="pairedUpSec" class="ion-text-center" >
    <h5 style="margin-top:45px;">{{ pairedUpLabel }}</h5>
    <div class="pairedUpDiv" *ngFor="let item of pairedUpDetailArray">
      
  
        
          <div class="av">
           <ion-avatar >
             <ion-img [src]="item.temp.photoURL"></ion-img>
           </ion-avatar>
          </div>
          <div class="nm">
            {{ item.clientDetail.fName }} {{ item.clientDetail.lName }}
          </div>
          <div class="btn">
            <ion-button color="tertiary" (click)="unpair(item.temp.uid)">Unpair</ion-button>
          </div>
          
    </div>
  </section>
</main>
  <!-- <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input type="text" [(ngModel)]="journal.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea autoGrow="true" placeholder="Enter description here..." [(ngModel)]="journal.detail"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date Created/Modified</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm a" [(ngModel)]="journal.date" readonly="true" class="ion-no-padding"></ion-datetime>
      </ion-item>
     <div class="ion-text-center">
      <ion-button [disabled]="journal.title==''" (click)="updateJournal()" class="ion-padding">
        <ion-icon name="create"></ion-icon>
        UPDATE
      </ion-button>
     </div>
        
     
    </ion-card-content>
  </ion-card> -->
</ion-content>
