.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ion-avatar{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.mainSec{
    margin-top: 100px;
    
}

.contentSec{
    margin-top: 50px;
}

.email{
    font-size: 18px;
    font-weight: 100;
    // margin-top: 10px;

}

ion-content{
    
}

// main{
//     height: 50%;
//     margin: auto;
// }


