.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ion-avatar{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.mainSec{
    margin-top: 100px;
    
}

.contentSec{
    margin-top: 50px;
}

.email{
    font-size: 18px;
    font-weight: 100;
    // margin-top: 10px;

}

ion-content{
    
}

ion-avatar{
    max-width: 40px;
    max-height: 40px;
}

.pairedUpSec{
    margin-top: 140px;
    
}

.pairedUpDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
    // flex-wrap: wrap;
    width: 90%;
    margin: auto;
    // background-color: var(--ion-color-secondary);
}

.av{
    flex:1;
    // align-items: center;
}

.nm{
    flex: 3;
    // font-weight: 100;
    // align-items: flex-start !important;
}

.btn{
    flex: 1;
    
}

// main{
//     height: 50%;
//     margin: auto;
// }


