<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">New Journal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        
        <ion-input type="text" placeholder="Title" [(ngModel)]="title"></ion-input>
      </ion-item>
      <ion-item>
      
        <ion-textarea autoGrow="true" placeholder="Enter description here..." [(ngModel)]="detail"></ion-textarea>
      </ion-item>
     
       
     
        <ion-row>
          <ion-col>
            <ion-button color="danger" expand="full" (click)="clear()"><ion-icon type="icon-only" name="close"></ion-icon>Clear</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" expand="full" (click)="addJournal()"  [disabled]="title==''"><ion-icon type="icon-only" name="add"></ion-icon>Create</ion-button>
          </ion-col>
        </ion-row>
    
      
    </ion-card-content>
  </ion-card>
</ion-content>
