<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>New Journal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Title</ion-label>
        <ion-input type="text" [(ngModel)]="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input type="text" [(ngModel)]="detail"></ion-input>
      </ion-item>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="clear()"><ion-icon type="icon-only" name="close"></ion-icon>Clear</ion-button>
        <ion-button color="primary" (click)="addJournal()"><ion-icon type="icon-only" name="add"></ion-icon>Create</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
