<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Choices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-center">
    <ion-card-header color="primary">
      
      <ion-card-title class="ion-text-center">Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" [(ngModel)]="fName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="lName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" fill="solid" [disabled]="email==''&&password==''&&cpassword==''&&fName==''&&lName==''" (click)="register()">Register</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" expand="full" fill="solid" routerLink="../login">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
