<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="./account">
    <ion-row>
      <ion-col>
        <ion-title>Account</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Edit name, email, password</ion-label>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Dark Theme
      </ion-label>
      <ion-toggle (click)="toggle()" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
  
</ion-content>
